@charset "utf-8";
/* CSS Document */

/* GENERAL */
* {
	font-family: Helvetica, Arial, sans-serif;
	outline: none;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	min-width: 325px;
	font-size: 14px;
	color: #888;
}

header, footer {
	background: url(css-images/trapezoid.svg) no-repeat;
	background-size: 100% 100%;
	color: #fff;
	padding: 60px 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin: 3px 0 10px;
}

h1 {
	font-size: 44px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

section {
	display: table;
	width: 75%;
	margin: 0 auto 60px;
}

a {
	text-decoration: none;
	color: #00d2ff;
}

a:hover {
	text-decoration: underline;
}

p {
	line-height: 150%;
}

form span {
	font-size: 11px;
	color: #bbb;
}

fieldset {
	border: 0;
    padding: 0;
    margin: 0;
}

input {
	border-radius: 4px;
	border: 1px solid #888;
	font-size: 14px;
	margin-top: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"] {
	width: calc(100% - 10px);
	padding: 10px 5px;
}

input[type="submit"] {
	padding: 15px 20px;
	cursor: pointer;
	background-color: #004a7e;
	color: #fff;
	border: 0;
}
input[type="submit"]:hover {
	background-color: #0064aa;
}
/* GENERAL [END] */

/* PAGE TITLES */
.products-title {
	margin-bottom: 50px;
}

.products-title .products-title-line {
	border-top: 2px solid #888;
	margin: 0 2%;
}

.products-title h4 {
	text-align: center;
	display: table;
	margin: -16px auto 0;
	background-color: #fff;
	padding: 0 20px;
}
/* PAGE TITLES [END] */

/* BUTTONS */
.button-md,
.button-sm {
	display: block;
	background-color: #fff;
	color: #888;
	border-radius: 4px;
	text-align: center;
	border: 0;
}

.button-md:hover,
.button-sm:hover {
	background-color: #888;
	color: #fff;
	text-decoration: none;
}

.button-md {
	font-size: 16px;
	padding: 11px 40px;
}

.button-sm {
	font-size: 18px;
	padding: 8px 20px;
}
/* BUTTONS [END] */

/* COLUMNS */
.col-25, .col-40, .col-50, .col-60 {
	display: table;
	float: left;
	margin: 0 2%;
}

.col-25 {
	width: 21%;
	/* Makes width 25% with the margin from above */
}

.col-40 {
	width: 36%;
	/* Makes width 40% with the margin from above */
}

.col-50 {
	width: 46%;
	/* Makes width 50% with the margin from above */
}

.col-60 {
	width: 56%;
	/* Makes width 60% with the margin from above */
}
/* COLUMNS [END]*/

/* ALERT */
.alert-text {
	color: #ff0000;
	margin: 2px;
	font-size: 11px;
}

.alert-input {
	border: 1px solid #ff0000;
}
/* ALERT [END] */

/* HEADER */
header {
	margin-bottom: 60px;
}

header div * {
	text-align: center;
}

header div h1,
header div h4 {
	color: #fff000
}

header div h1 {
	margin: 0 0 40px 0;
}

header div h4 {
	margin: 0;
	font-weight: normal;
}

header div h6 {
	margin: 0 0 40px 0;
	font-weight: normal;
}

header nav {
	display: table;
	margin: 0 auto 80px;
}

header nav ul {
	display: inline-block;
	padding: 0;
}

header nav ul li {
	float: left;
	list-style-type: none;
	margin: 0 10px;
}

header nav ul li .button-md {
	width: 130px;
	filter: drop-shadow(2px 2px 2px #888);
}
/* HEADER [END] */

/* FORM */
#form-section #form-text h4 {
	font-weight: normal;
	margin-bottom: 40px;
}

#form-section .form-submit {
	margin-top: 30px;
}

#form-section .form-submit .send-form {
	width: 100%;
}
/* FORM [END] */

/* PRODUCTS */
#product-section {
	padding-top: 40px;
}

#product-section #products {
	display: table;
}

#product-section #products > div {
	margin-bottom: 60px;
}

#product-section #products div div.image-container {
	text-align: center;
	margin-bottom: 5px;
}

#product-section #products div h5 {
	margin-bottom: 0;
}

#product-section #products div .button-sm {
	display: block;
    background-color: #62cf45;
    color: #fff;
    margin-top: 10px;
}

#product-section #products div .button-sm:hover {
	background-color: #72e154;
}

#product-section #more-products a {
	display: table;
	margin: auto;
	background-color: #004a7e;
	color: #fff;
}

#product-section #more-products a:hover {
	background-color: #0064aa;
	cursor: pointer;
}
/* PRODUCTS [END] */

/* NEWSLETTER */
#newsletter-section #newsletter-form h6 {
	text-align: center;
	font-weight: normal;
}

#newsletter-section #newsletter-form .form-submit {
	margin-top: 30px;
	text-align: center;
}

#newsletter-section #newsletter-form .form-submit input {
	margin-top: 40px;
	width: 300px;
	font-size: 18px;
}
/* NEWSLETTER [END] */

/* FOOTER */
footer {
	display: table;
	width: calc(100% - 40px);
	transform: scale(1, -1); 
}

footer div {
	margin: 30px 0 100px;
}

footer div p {
	text-align: center;
	transform: scale(1, -1);
}


/* EMAIL SENT (from "user-data-sent.html" and "newsletter-data-sentl.html") */
#email-sent-section * {
	text-align: center;
}

#email-sent-section h5 {
	margin-top: 20px;
}

#email-sent-footer {
	background: transparent;
	color: #888;
}

#email-sent-footer div {
	border-bottom: 1px solid #eee;
    width: 75%;
	margin: auto
}

#email-sent-footer div p {
	margin: 60px 0;
}
/* EMAIL SENT [END] */

/* HELLO (from email.html)*/
h4, h6 {
	font-weight: normal;
}

h6 {
	line-height:150%;
}

#product-section #products.email-products > div:nth-child(n+3):nth-child(-n+8) {
	display: none;
}
/* HELLO [END] */

/* RESPONSIVENESS */
@media screen and (max-width: 984px) {
/* 984px Header */
header nav,
header nav ul {
	width: 100%;
}

header nav ul li {
    width: calc(50% - 20px);
	margin-bottom: 20px;
}

header nav ul li a.button-md {
    width: calc(100% - 80px);
}
/* 984px Header [END]*/

}


@media screen and (max-width: 910px) {
/* 910px Columns */
.col-25, .col-40, .col-50, .col-60 {
	float: none;
	width: 96%;
}
/* 910px Columns [END] */

/* 910px Products */
#product-section #products {
	width: 100%;
}

#product-section #products div div.image-container,
#product-section #products div div.info-container {
    float: left;
}

#product-section #products div div.image-container {
	width: 28%;
	padding: 0 1%;
	/* Makes width 30% with the padding */
}

#product-section #products div div.info-container {
	width: 68%;
	padding: 0 1%;
	/* Makes width 70% with the padding */
}
/* 910px Products [END] */
	
}

@media screen and (max-width: 630px) {
#product-section #products div div.image-container,
#product-section #products div div.info-container {
	width: 100%;
}
}

@media screen and (max-width: 525px) {
/* 525px Header */
header nav ul li {
    width: calc(100% - 20px);
}
/* 525px Header [END] */

}
/* RESPONSIVENESS [END] */